.block {
    display: flex;
    flex-flow: column nowrap;
    min-width: 35ch;
    gap: 0.5ch;
}

.block h3 {
    text-align: center;
    margin: 0.5ch 0 0 0;
}

.empty-block-message {
    text-align: center;
}

.block-row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.5ch;
    justify-content: space-between;
}

#setting-keep-last-logs {
    width: 5ch;
}

#log-stats-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5ch;
    width: 100%;
}

.log-stats-row {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5ch;
    justify-content: space-between;
    width: 100%
}

.log-stats-name {
    flex: 2 ;
}
